@model PieListViewModel;
    <h1>@Model.CurrentCategory</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        @foreach (var pie in Model.Pies)
        {
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="@pie.ImageThumbnailUrl" alt="@pie.Name">
                    <div class="card-body pie-button">
                        <h5 class="card-title">
                        <a class="pie-link" asp-controller="Pie" asp-action="Details" asp-route-id="@pie.PieId">@pie.Name   </a>
                            </h5>
                        <p class="card-text">@pie.ShortDescription</p>
                        <div>@pie.Price</div>
                    </div>
                </div>
            </div>
        }
    </div>